.todo-item{
    margin: 1rem 1rem;
    padding: 1rem 1rem;
    border: 1px solid #ccc;
    background-color: grey;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    text-align: start;
    display: flex;
    justify-content: space-between;
}
.todo-delete ,.todo-complete{
    display: flex;
    align-items: center;
    
}
.todo-delete:hover ,.todo-complete:hover{
    cursor: pointer;
}
.icons-group{
    display: flex;
    width: 5rem;
    justify-content: space-evenly;
}