.todo-input-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 1rem;
}
.todo-input{
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
}
.todo-input:focus{
    outline: none;
}
.todo-input-add{
    border-radius: 12px;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;

}